/* Styles go here */
*,
*:before,
*:after {
    cursor: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #000;
}

.scoreboard {
	position: absolute;
	top: 50px;
	left: 50px;
}

.scoreboard span {
    font-size: 2.0em;
    font-weight: bold;
    color: #E0E0E0;
}
